## DRILL: Multivariable Regression
### Name: Crystal Lau
### Date: 06/22/2018

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline

Equation: Propertycrime = Î± + Population + Population2 + Murder + Robbery

In [2]:
# importing data
df = pd.read_csv('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.csv', thousands=',')

In [3]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN

In [4]:
df.dtypes

City                                       object
Population                                  int64
Violent\ncrime                              int64
Murder and\nnonnegligent\nmanslaughter      int64
Rape\n(revised\ndefinition)1              float64
Rape\n(legacy\ndefinition)2                 int64
Robbery                                     int64
Aggravated\nassault                         int64
Property\ncrime                             int64
Burglary                                    int64
Larceny-\ntheft                             int64
Motor\nvehicle\ntheft                       int64
Arson3                                    float64
dtype: object

In [5]:
# renaming columns w/o newlines
df.columns = ['City', 'Population', 'Violent_Crime', 'Murder_Nonnegligent_Manslaughter',
              'Rape_1', 'Rape_2', 'Robbery', 'Aggravated_Assault', 'Property_Crime', 'Burglary',
              'Larceny_Theft', 'Motor_Vehicle_Theft', 'Arson']

In [6]:
# dropping Rape_1 column because all NaN values and no data available for new definition of Rape
df.drop(['Rape_1'], axis=1, inplace=True)

In [7]:
# fill NaN columns under Arson with 0
# assumption is that if NaN, then none reported
df.fillna(0, inplace=True)

In [8]:
df.str.strip()

AttributeError: 'DataFrame' object has no attribute 'str'

In [10]:
# creating pop^2 feature
df['Population2'] = np.square(df['Population'])

In [11]:
# for 'Robbery' and 'Murder'
# values > 0 are coded 1
# values = 0 are coded 0
df['rob_code'] = np.where(df['Robbery'] == 0, 0, 1)
df['murder_code'] = np.where(df['Murder_Nonnegligent_Manslaughter'] == 0, 0, 1)